body{
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
    background-image: url(/image/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    display: inline;
    height: 50px;
    width: 28.5%;
    box-shadow: -3px -3px rgb(85, 85, 85);
    text-shadow: 0.5px 0.5px rgb(194, 187, 187);
    font-size: 15px;
    background-color: black;
    font-style: italic;
    color:white;
    padding: 10px;
    margin: 2%;
    border-radius: 20%;
}

button:active{
    left:4px;
    top:4px;
    display: inline;
    height: 50px;
    width: 28%;
    font-size: 15px;
    background-color: black;
    font-style: italic;
    color:white;
    padding: 10px;
    margin: 1.5%;
    border-radius: 20%;
}

div , h1{
    margin: 1.5%;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}